
// colors
$darkgreen:  rgb(97, 134, 65);
$lightgreen:  rgb(161, 187, 88);
$blue: rgb(62, 146, 192);
$lightblue: rgba(62, 146, 192, 0.16);
$lightblack: rgba(0, 0, 0, 0.8);
$darkgrey: rgba(38, 36, 36, 0.8);
$deepdarkgrey: rgb(51, 51, 50);
$darkgreen-opacity:  rgba(97, 134, 65, 0.471);
$lightgreen-opacity:  rgba(161, 187, 88, 0.3);
$red: rgb(192, 98, 62);
$form-bg: rgb(245, 245, 245);

//fonts
$DMSerif: "DM Serif Display", Arial, sans-serif;
$Jost: "Jost", Arial, sans-serif;
$JosefinSans: "Josefin Sans", Arial, sans-serif;
$Tangerine: "Tangerine", Arial, sans-serif;

