@font-face {
  src: url(./assets/fonts/DMSerifDisplay-Regular.ttf);
  font-family: "DM Serif Display";
}
@font-face {
  src: url(./assets/fonts/JosefinSans-Italic-VariableFont_wght.ttf);
  font-family: "Josefin Sans";
  font-style: italic;
}
@font-face {
  src: url(./assets/fonts/JosefinSans-VariableFont_wght.ttf);
  font-family: "Josefin Sans";
  font-style: normal;
}
@font-face {
  src: url(./assets/fonts/Tangerine-Bold.ttf);
  font-family: "Tangerine";
  font-weight: bold;
}
@font-face {
  src: url(./assets/fonts/Jost-Italic-VariableFont_wght.ttf);
  font-family: "Jost";
  font-style: italic;
}
@font-face {
  src: url(./assets/fonts/Jost-VariableFont_wght.ttf);
  font-family: "Jost";
  font-style: normal;
}
