@use "../abstracts/mixin";
@use "../abstracts/variables";

.aside {
  background-color: rgb(227, 226, 226);
  display: flex;
  justify-content: center;
}
.aside__wrap {
  padding: 1.5rem;
}
.aside__title {
  font-family: variables.$DMSerif;
  font-size: 3.125rem;
  color: variables.$darkgreen; 
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 40rem;
  animation: type 3.5s steps(100, end) infinite;
}
@keyframes type {
  0%{
    width: 0;
  }
  100%{
    border-right: none;
    width: 100%;
  }
}