@use "../abstracts/mixin";
@use "../abstracts/variables";


.budget__container {
  @include mixin.grid-budget;

  margin-top: 4vh;
  display: flex;
  gap: 2.5rem;
  justify-content: space-evenly;
}
.budget__wrap {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 690px;
}
//modal welcome
.budget__modal {
  @include mixin.modal;
  // background-color: white;
}
.budget__modal-wrap {
  @include mixin.modal-wrap;
  // position: fixed;
  // top: 0; 
  // left: 0; 
  // right: 0; 
  // bottom: 0;
  // overflow: hidden;
  // transition: all 0.1s ease-in-out;
  // transform: scale(0);
  // z-index: 5;
}
.budget__modal-title {
  margin: 2rem 0;
  font-family: variables.$Tangerine;
  font-size: 6rem;
  text-align: center;
  color: variables.$darkgreen;
}
.budget__modal-content-wrap {
  align-self: center;
  background-color: variables.$lightgreen-opacity;
  border-radius: 30px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.budget__text {
  font-family: variables.$Jost;
  font-weight: 300;
  font-size: 2rem;
}
.budget__text_bold {
  text-align: center;
  font-weight: 400;
  font-size: 2.3rem;
  color: variables.$deepdarkgrey;
}
.budget__modal-content-wrap > select {
  width: 350px;
  align-self: center;
  text-align: center;
  padding: 20px;
  border: none;
  border-radius: 3px;
}
.budget__modal-btn {
  width: 45%;
  height: 4rem;
  align-self: center;
  @include mixin.budget__btn;
  @include mixin.colorTransitionLink;
}

.budget__modal-btn:hover {
  @include mixin.budget__btn-hover;
}
.budget__modal-btn:active {
  @include mixin.budget__btn-active; 
}
.budget__modal-btn:disabled {
  @include mixin.budget__btn-disabled;
}


//your current balance
.budget__balance {
  @include mixin.budget-blocks;
}
.budget__title {
  margin-top: 1rem;
  font-family: variables.$DMSerif;
  font-size: 2.5rem;
  text-align: center
}
.budget__balance-wrap {
  margin-top: 2rem;
  @include mixin.budget-blocks-content;
}
.budget__balance-item-wrap > h2:first-of-type{
  width: 50%;
  text-align: end;
}
.budget__balance-item-wrap {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.budget__subtitle {
  @include mixin.budget-subtitle;
}

//upcoming transactions
.budget__transactions {
  @include mixin.budget-blocks;
}
.budget__transactions > p {
  padding: 15px;
  margin-top: 2rem;
  text-align: center;
}
.budget__year-transaction-wrap {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.budget__transaction-subtitle {
  text-align: center;
  width: 100%;
  @include mixin.budget-subtitle;
  color: variables.$blue;
  margin-bottom: 1.5rem;
}
.budget__month-transaction-wrap {
  @include mixin.budget-blocks-content;
}
.budget__transactions-date {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.budget__transactions-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.budget__text_green {
  color: variables.$darkgreen;
}
.budget__text_red {
  color: variables.$red;

}
.budget__transaction-comment {
  font-family: variables.$JosefinSans;
  font-weight: 200;
  font-style: italic;
  font-size: 1.8rem;
}

.budget__wrap_grey {
  padding: 2rem 2rem 5rem 2rem;
  gap: 2rem;
  height:fit-content;
  background-color: variables.$form-bg;

}

//switch
.budget__switch {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1rem;
}

.switch__label {
  margin-top: 1rem;
  @include mixin.budget-subtitle;
  cursor: pointer;
}
.switch__label:hover {
  @include mixin.hover-black-text;
}
.switch__label:active {
  @include mixin.active-black-text;
}
.budget__switch input[type=radio] {
  display: none;
}

.budget__switch-indicator-wrap {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  background-color: variables.$darkgreen-opacity;
  display: flex;
  cursor: pointer;
}
.budget__switch-indicator {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: variables.$darkgreen;
  cursor: pointer;
}

//forms
.budget__form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}
.budget__form_hidden {
  display: none;
}
.budget__form-item-wrap {
  display: flex;
  gap: 2rem;
}
.budget__form-item-wrap .budget__form-item-text {
  width: 50%;
}
.budget__form-item-text_large {
  width: auto;
}
#form-expenses > .budget__form-item-wrap:nth-last-of-type(2) > label {
  width: 10%;
}
#form-expenses > .budget__form-item-wrap:nth-last-of-type(2) > p {
  width: auto;
}
.budget__form-item-wrap > select {
  height: 4rem;
}
.budget__form-item-wrap:nth-of-type(5) > p {
  align-self: flex-end;
}
.budget__form-item-wrap:last-of-type {
  margin-top: 30px;
}
.budget__checkbox {
  height: 30px;
}
.budget__checkbox:checked {
  accent-color: variables.$blue;
  filter:  brightness(1.2);
}
.budget__form-item-wrap input, select {
  font-family: variables.$JosefinSans;
  font-size: 1.9rem;
  font-weight: 300;
}
.budget__form-item-wrap select {
  font-weight: 200;
  border-radius: 3px;
}
.budget__form-item-wrap > select:target {
  background-color: variables.$lightgreen-opacity;
}
.budget__form-item-wrap label, input {
  width: 100%;
}
.budget__form-item-wrap .budget__form-date {
  width: 0;
}
.budget__form-item-wrap > select {
  width: 100%;
}
.budget__form-item-wrap input::placeholder, select::placeholder {
  font-weight: 200;
}
.budget__form-item-text {
  color: variables.$deepdarkgrey;
  font-family: variables.$DMSerif;
  font-size: 2rem;
}
.budget__form-value {
  border-radius: 30px;
  height: 50px;
  text-align: center;
  background-color: variables.$lightgreen-opacity;
  border: none;
  font-size: 1.9rem;
  font-weight: 400;
  font-style: italic;
  color: variables.$darkgreen;
}
.budget__date-input-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: white;
  border: 1px solid #767676;
  border-radius: 3px;
}
.budget__date-input {
  width: 100%;
  height: 100%;
  padding: 20px 0 0 1px;
  border: none;
  border-radius: 3px;
  display: flex;
  justify-content: center; 
}

.budget__calendar-wrap {
  margin-right: 5px;
  align-items:center;
  justify-items: center;
  position: relative;
  height: 60px;
  display: flex;
  justify-content: end;
  z-index: 4;
}
.budget__calendar-icon {
  position: absolute;
  z-index: 5;
}
.budget__required-field-wrap {
  min-width: 27px;
  max-width: 27px;
  height: 27px;
}
.budget__required-icon {
  width: 100%;
  height: 100%;
  fill: variables.$red;
}
.budget__required-icon_valid {
  fill: variables.$lightgreen;
}

.budget__btn {
  width: 230px;
  height: 70px;
  align-self: center;
  margin-top: 2rem;
  @include mixin.budget__btn;
  @include mixin.colorTransitionLink;
}


.budget__btn:hover {
  @include mixin.budget__btn-hover;
}
.budget__btn:active {
  @include mixin.budget__btn-active;
}
.budget__btn:disabled {
  @include mixin.budget__btn-disabled;
  border: none; 
}


//AWD
@media screen and (max-width: 1100px){
  .budget__container {
    flex-direction: column-reverse;
    align-items: center;
  }

}
@media screen and (max-width: 1100px){
  .budget__container {
    margin-left: 0;
    margin-right: 0;
  }
}