@use "../abstracts/mixin";
@use "../abstracts/variables";

.footer {
  background-color: variables.$darkgreen;
  display: flex; 
  align-items: center;
  justify-content: end;
  padding: 3%;
  box-sizing: border-box;
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer__logo-icon {
  width: 3.625rem;
  height: 3.625rem;
  fill: white;
}
.footer__logo-text {
  font-family: "DM Serif Display";
  font-size: 2.2rem;
  color: white;  
}
.footer__text {
  font-family: "Jost";
  font-weight: 350;
  font-size: 1.875rem;
  text-align: center;
  align-items: center;
  color: white;
}
.footer__text-cont {
  width: 100%;
}
.footer__contact-link {
  color: white;
}
.footer__wrap-socials {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.footer__socials-icon {
  width: 3.625rem;
  height: 3.6875rem;
  padding-left: 3%;
  fill: white;
  cursor: pointer;
}