@use "../abstracts/mixin";
@use "../abstracts/variables";



//sizes and layout
.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 900;
  padding: 2rem 5.4375rem 3.75rem 5.4375rem;
  display: flex;
  justify-content: space-between;
  height: 162px;
  display: flex;
  align-content: center;
  // align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-link {
  display: flex;
  align-items: end;
}
.header__logo-icon {
  width: 3.625rem; /*58px*/
  height: 3.6875rem; /*59px*/
  // margin-bottom: 1.625rem;
}
.header__wrap-nav {
  display: flex;
  align-items: end;
  justify-content: end;
}
.header__nav {
  margin-right: 1rem;
}
.header__nav-list {
  display: flex;
}
.header__list-item {
  align-self: end;
  padding: 0 1.25rem 0 1.25rem;
}
.header__account-icon {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 2.5rem; /*40px*/
  height: 2.8125rem; /*45px*/
}

//style and fonts
.header {
  background-color: white;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.151);
}
.header__logo-icon {
  fill: rgba(0, 0, 0, 0.8);
}
.header__logo-text {
  line-height: 0.75;
  font-family: variables.$DMSerif;
  font-size: 2.8125rem; /*45px*/
  color: variables.$lightblack;
}
.header__nav-list {
  list-style: none;
}
.header__list-item {
  text-align: center;
  font-family: variables.$Jost;
  font-size: 1.4375rem; /*23px*/
  font-weight: 300;
}
.header__item-link {
  color: variables.$lightblack;
}
.header__account-icon {
  fill: variables.$lightblack;
}



//effects
.header__wrap {
  transform: translateY(-100%);
  animation: ani 1.5s forwards;
  @keyframes ani {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
.header__logo-link:hover > * {
  fill: variables.$darkgreen;
  color: variables.$darkgreen;
  filter: drop-shadow(2px 2px 1px variables.$darkgreen-opacity);
}
.header__logo-link:active > * {
  fill: variables.$lightgreen;
  color: variables.$lightgreen;
  filter: drop-shadow(2px 2px 1px variables.$lightgreen-opacity);
}

.header__item-link:hover {
  color: variables.$darkgreen;
  filter: drop-shadow(2px 2px 1px variables.$darkgreen-opacity);
}
.header__item-link:active {
  color: variables.$lightgreen;
  filter: drop-shadow(2px 2px 1px variables.$lightgreen-opacity);
  transition: 3s;
}

.header__account-icon:hover {
  fill: variables.$darkgreen;
  filter: drop-shadow(2px 2px 1px variables.$darkgreen-opacity);
}

.header__account-icon:active {
  fill: variables.$lightgreen;
  filter: drop-shadow(2px 2px 1px variables.$lightgreen-opacity);
}

@media screen and (min-width: 2000px){
  .header__list-item {
    
    font-size: 2rem; /*23px*/
  }
}

@media screen and (max-width: 1150px){
  .header__wrap-nav {
    display: none;
  }
}

@media screen and (max-width: 600px){
  .header {
    padding: 2rem 1.5rem 3.75rem 1.5rem;
  }
}

@media screen and (max-width: 450px){
  .header {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1rem;
    box-sizing: border-box;
    width: calc(100% - 1rem);
    // padding-right: 0;
  }
  .header__logo-icon{
    display: none;
  }
  .header__logo {
    align-items: end;
  }
  
}