@use "../abstracts/mixin";
@use "../abstracts/variables";


.header {
  @include mixin.grid;
  max-height: 10.125rem; /*162px*/
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  margin: 2rem 2rem 3.75rem 0; /*33px 59px*/
}
.header__logo-link{
  display: flex;
  align-items: end;
}
.header__logo-link:hover>*{
  fill: variables.$darkgreen;
  color:  variables.$darkgreen;
}
.header__logo-link:active>*{
  fill: variables.$lightgreen;
  color:  variables.$lightgreen;
}
.header__logo-icon {
  width: 3.625rem; /*58px*/
  height: 3.6875rem;/*59px*/
  margin-bottom: 0.625rem;
  fill: rgba(0, 0, 0, 0.8);
}
.header__logo-text {
  font-family: "DM Serif Display";
  font-size: 2.8125rem; /*45px*/
  color: variables.$lightblack;

}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: end;
}
.header__nav {
  margin-right: 1rem;
}
.header__nav-list {
  display: flex;
  list-style: none;
}
.header__list-item {
  font-family: "Jost";
  font-size: 1.4375rem; /*23px*/
  font-weight: 350;
  padding: 0 1.5rem 0 1.5rem;
}
.header__item-link {
  color: variables.$lightblack;
}
.header__item-link:hover {
  color: variables.$darkgreen;
}
.header__item-link:active {
  color:  variables.$lightgreen;
}
.header__account-icon {
  margin-left: 1rem;
  width: 2.5rem; /*40px*/
  height: 2.8125rem; /*45px*/
  fill: variables.$lightblack;
}

.header__account-icon:hover {
  fill: variables.$darkgreen;
}

.header__account-icon:active {
  fill:  variables.$lightgreen;
}