@use "../abstracts/mixin";
@use "../abstracts/variables";

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.403);
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  padding-top: 7vh;
}
.modal__wrap {
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  padding: 3vh 0 9vh 0;
}
.modal__close-btn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  width: 40px;
  cursor: pointer;
  margin-right: 40px;
}
.modal__content {
  width: 60%;
  align-self: center;
  background-color: variables.$lightgreen-opacity;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: variables.$Jost;
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal__title {
  margin-top: 1.5rem;
  font-family: variables.$DMSerif;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
}
.modal__form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.modal__form input[type="email"],
.modal__form input[type="password"] {
  padding: 10px;
  border: none;
  font-size: 1rem;
  font-family: variables.$JosefinSans;
  font-weight: 200;
}
.modal__form input[type="checkbox"] {
  margin-right: 5px;
  transform: scale(1.2);
}
.modal__form label {
  font-size: 0.95rem;
  color: #333;
}
.modal__checkbox-wrap {
  margin: 0.75rem 0 0.5rem 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
}
.modal__checkbox {
  font-family: variables.$Jost;
  font-weight: 350;
}
.modal__input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.modal__input-group label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.modal__input-group input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal__submit {
  width: 100%;
  background-color: variables.$darkgreen;
  color: white;
  padding: 10px;
  border: none;
  font-size: 1.1rem;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    background-color: variables.$lightgreen;
  }
  &:active {
    background-color: white;
    color: variables.$lightgreen;
  }
}
.modal__text {
  text-align: center;
  font-family: variables.$Jost;
  font-weight: 350;
  font-size: 0.9rem;
  color: #333;
  margin-top: 15px;
}

.modal__link {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: #5d8a44;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.modal_form-signup {
  display: none;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.modal_form-signup input[type="text"],
.modal_form-signup input[type="email"],
.modal_form-signup input[type="password"] {
  padding: 10px;
  border: none;
  font-size: 1rem;
  font-family: variables.$JosefinSans;
  font-weight: 200;
}
.modal_form-signup .modal__submit {
  width: 100%;
  background-color: variables.$darkgreen;
  color: white;
  padding: 10px;
  border: none;
  font-size: 1.1rem;
  margin-top: 10px;
  cursor: pointer;
}
.modal__form-signup .modal__submit:hover {
  background-color: variables.$lightgreen;
}

.modal__form-signup .modal__submit:active {
  background-color: white;
  color: variables.$lightgreen;
}
