@use "../abstracts/mixin";
@use "../abstracts/variables";

.modal {
  display: none;
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: flex-start;
  z-index: 999;
  padding-top: 40px;
}
.modal__content {
  background-color: #e4ecc9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 350px;
  font-family: Arial, sans-serif;
  position: relative;
}
.modal__title {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 15px;
  font-weight: 600;
  color: #333;
}

.modal__form input[type="email"],
.modal__form input[type="password"] {
  width: 90%;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #6a8a68;
  border-radius: 3px;
  font-size: 1rem;
}
.modal__form input[type="checkbox"] {
  margin-right: 5px;
  transform: scale(1.2);
}
.modal__form label {
  font-size: 0.95rem;
  color: #333;
}

.modal__submit {
  width: 100%;
  background-color: #6a8a68;
  color: white;
  padding: 10px;
  border: none;
  font-size: 1.1rem;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    background-color: #557755;
  }
}
.modal__text {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  color: #333;
  margin-top: 15px;
}

.modal__link {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: #5d8a44;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.modal__close {
  position: absolute;
  top: 1px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
