@use "../abstracts/mixin";
@use "../abstracts/variables";

.section-planner {
  margin-top: 5.8125rem; /*93px*/  
}
.section-planner__title-wrap {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 0.5rem; 
}
.section-planner__text {
  padding: 2vh 0 3vh 0;
}
.section-planner__wrap {
  display: flex;
  @include mixin.grid;
  gap: 5vw;
  justify-items: center;
}
.section-planner__wrap-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: auto;
  height: auto;
  margin-bottom: 5vh;
  padding: 3rem; 
}

.section-planner__card-text {
  margin-top: 7%;
  padding-left: 5%;
  padding-right: 5%;
}
.section-planner__icon-container {
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-top: 20px;
}
.section-planner__card-link {
  padding: 2% 12% 2% 15%;
}
.section-planner__icon {
  display: flex; 
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
}

//styles and fonts
.section-planner {
  background-color: rgb(245, 245, 245);
}
.section-planner__title-wrap {
  background-color: variables.$darkgreen;
}
.section-planner__title {
  color: variables.$darkgreen;
  text-align: center;
  font-family: variables.$DMSerif;
  font-size: 3.125rem;
  letter-spacing: 2px;
  color: white;
}
.section-planner__text {
  background-color: rgb(245, 245, 245);
  color: black;
  font-family: variables.$JosefinSans;
  font-weight: 350;
  font-size: 3rem;
  text-align: center;
}
.section-planner__wrap-card {
  border: 2px solid rgba(233, 230, 230, 0.781);
  border-radius: 25px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.295);
}
.section-planner__title_smaller {
  font-family: variables.$DMSerif;
  font-size: 2.5rem;
  text-align: center;  
  color: black;
}
.section-planner__card-text {
  text-align: center;
  font-family: variables.$Jost;
  font-weight: 350;
  font-size: 1.875rem;
  color:rgb(50, 50, 50);
}
.section-planner__card-link {
  border: 3px solid variables.$darkgreen;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.section-planner__icon {
  fill: variables.$darkgreen;
}



//effects

.section-planner__title {
  transform: translateX(0);
  animation: 0.5s linear forwards;
}


  // ANIMATION BACKGROUND-COLOR
.section-planner__title-wrap_gradient {
  @include mixin.colorTransition;
}

//ANIMATION NEON TEXT
.section-planner__title_neon {
  @include mixin.neonText;
}
  

.section-planner__wrap-card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.section-planner__wrap-card:hover > .section-planner__title_smaller {
  color: variables.$darkgreen;
}

.section-planner__card-link {
  @include mixin.flashingBorder;
}
.section-planner__icon {
  @include mixin.flashingArrows;
}

.section-planner__card-link:hover {
  background-color: variables.$darkgreen;
  animation: colorTransitionLink 0.8s infinite alternate;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
@keyframes colorTransitionLink {
  0% {
    border-color: variables.$darkgreen;
    background-color: variables.$darkgreen;
  }
  100% {
    border-color: variables.$lightgreen;
    background-color: variables.$lightgreen;
  }
}
.section-planner__card-link:hover > .section-planner__icon {
  fill: white;
  animation: none;
  filter: drop-shadow(2px 2px 1px variables.$darkgreen-opacity);
}

.section-planner__card-link:active {
  background-color: variables.$lightgreen;
  border: variables.$lightgreen;
  animation: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s ;
  opacity: 0.4;
}

.section-planner__card-link:active > .section-planner__icon {
  fill: white;
  animation: none;
  filter: drop-shadow(2px 2px 25px rgba(0, 0, 0, 0.8));
}


@media screen and (min-width: 2000px){
  .section-planner__title {
    font-size: 4.5rem;
  }
  .section-planner__card-text {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1010px) {
  .section-planner__wrap {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  .section-planner__wrap-card {
    width: 100%;
    margin-top: 0;
    margin-bottom: 3rem;
  }
  .section-planner__text {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .section-planner__title-wrap {
    flex-direction: column;
  }
  .section-planner__wrap {
    margin: 0 1.5rem 0 1.5rem;
  }
  .section-planner__text {
    font-size: 2.5rem;
  }
}