@use "../abstracts/mixin";
@use "../abstracts/variables";


//sizes and layout
.section-home {
  display: flex;
  flex-direction: column;
}
.section-home__wrap {
  display: flex;
  justify-content: space-between;
}
.section-home__cover {
  width: 47.4%;
}
.section-home__textWrap {
  width: 52.6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.section-home__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-home__title {
  margin-top: 18%; /*104px*/
  margin-bottom: 0;
}
.section-home__link {
  margin-top: 21%; /*130px*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21.125rem; /*338px*/
  height: 5.6875rem; /*91px*/
}
.section-home__text {
  margin: 3.3125rem 0 3.3125rem 0; /*53px*/
}

//style and fonts
.section-home__wrap {
  background-color:  rgb(97, 134, 65);
  border-bottom-left-radius: 9.375rem; /*150px*/
}
.section-home__img {
  border-bottom-left-radius: 9.375rem; /*150px*/
}
.section-home__title {
  font-family: "Tangerine";
  font-size: 6.875rem; /*110px*/
  color: white;
  text-align: center;
}
.section-home__link {
  background-color: white;
  border-radius: 2.5rem; /*40px*/
  font-size: 3rem; /*48px*/
  color: rgb(58, 74, 43);
  font-family: variables.$DMSerif;
  border: solid 1px rgba(0, 0, 0, 0.5);
}
.section-home__text {
  font-family: variables.$Jost;
  font-weight: 250;
  font-size: 2.1875rem; /*35px*/
  color: white;
}

//effects
.section-home__link:hover {
  color: variables.$blue;
  border: solid 1px rgba(0, 0, 0, 0.5);;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}
.section-home__link:active {
  background-color: variables.$blue;
  color: white;
}


//AWD
@media screen and (min-width: 2000px){
  .section-home__title {
    font-size: 10rem; 
  }
  .section-home__link {
    width: 25.125rem; /*338px*/
    height: 6rem; /*91px*/
    font-size: 3.25rem; /*48px*/
  }
  .section-home__text {
    font-size: 2.7rem; /*35px*/
  }
}

@media screen and (max-width: 1190px){
  .section-home__title {
    font-size: 5rem; 
  }
  .section-home__link {
    width: 18.125rem; /*338px*/
    height: 4.7rem; /*91px*/
    font-size: 2.5rem; /*48px*/
  }
}
@media screen and (max-width: 860px){
  .section-home__wrap {
    flex-direction: column;
  }
  .section-home__wrap, .section-home__img {
    border-radius: 0;
  }
  .section-home__cover, .section-home__textWrap {
    width: 100%;
    max-height: 70%;
  }
  .section-home__title {
    font-size: 6rem; 
  }
  .section-home__title, .section-home__link {
    margin-top: 10%;
  }
}
@media screen and (max-width: 510px){
  .section-home__title {
    font-size: 4.5rem; 
  }
}