@use "../abstracts/mixin";
@use "../abstracts/variables";


//sizes and layout
.section-project {
  @include mixin.grid;
  margin-top: 7rem; /*112px*/
  display: flex;
  min-height: 300px;
  gap: 2rem;
}
.section-project__questions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 47.4%;
}
.section-project__arrow {
  display: none;
  align-self: center;
  justify-content: center;
  padding:  2% 15% 2% 15%;
  
  border: 3px solid variables.$darkgreen;
  fill: variables.$darkgreen;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.section-project__info {
  margin-left: 3.5rem;
  display: flex;
  flex-direction: column;
  width: 52.6%;
}
.section-project__text {
  margin-top: 1.4375rem; /*23px*/
  max-width: 80%;
}
.section-project__wrap-item  {
  display: flex;
}
.section-project__wrap-item > p {
  margin-left: 1.5rem;
}
.section-project__wrap-item > svg {
  margin-top: 1.3rem;
}
.section-project__wrap-item > svg:last-child {
  margin-top: 0;
}
.section-project__icon {
  width: 3rem; /*48px*/
  height: 3rem; /*48px*/
}


//style and fonts
.section-project__title {
  font-family: variables.$DMSerif;
  font-size: 2.8125rem; /*45px*/
  color: variables.$darkgreen;
}
.section-project__title_black {
  color: rgba(0, 0, 0, 0.8);
}
.section-project__text {
  font-family: variables.$Jost;
  font-size: 2.1875rem; /*35px*/
  font-weight: 300;
}
.section-project__text_bold {
  font-weight: 500;
}
.section-project__arrow {
  border: 3px solid variables.$darkgreen;
  fill: variables.$darkgreen;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

//effects 
.section-project__arrow {
  @include mixin.flashingBorder;
}

//AWD
@media screen and (min-width: 2000px){
  .section-project__questions {
    align-items: center;
  }
  .section-project__info {
    flex-wrap: wrap;
    align-content: center;
  }
  .section-project__text {
    font-size: 2.5rem;
  }
  .section-project__title {
    font-size: 3.5rem;
    text-align: center; 
  }
  .section-project__title_black {
    text-align: start;
  }
}

@media screen and (max-width: 925px){
  .section-project__subtitle {
    font-size: 2.5rem; /*45px*/
  }
  .section-project {
    margin-top: 5rem; 
  }
  .section-project__text {
    font-size: 1.875rem; 
  }
  .section-project__info{
    margin-left: 0;
  }
}
@media screen and (max-width: 860px){
  .section-project {
    flex-direction: column;
    gap: 5rem;
  }
  .section-project__questions, .section-project__info {
    width: 100%;
  }
  .section-project__title {
    text-align: center;
  }
  .section-project__arrow {
    display: flex;
  }
  .section-project__arrow > svg {
    transform: rotate(90deg);
  }
  .section-project__arrow-icon {
    width: 40px;
    height: 40px;
    @include mixin.flashingArrows;
  }
}

@media screen and (max-width: 600px) {
  .section-project {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .section-project__text {
    align-self: center;
  }
}