@use "../abstracts/mixin";
@use "../abstracts/variables";


//sizes and layout
.section-charts {
  padding: 2%;
}
.section-charts__title {
  padding: 4%;
}
.section-charts__wrap {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-charts__icon {
  width: 3rem;
  height: 3rem;
}
.section-charts__wrap-charts {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  justify-items:center;
  margin: 0 2rem 0 2rem;
}
// .section-charts__chart{
//   width: 32.75rem; /*524px;*/
//   height: 24.125rem; /*386px;*/
// }

.section-charts__chart{
  width: 100%;
  height: 100%;
}
.section-charts__img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.section-charts__icon:last-child {
  margin-left: 0.5rem;
}

//styles and fonts
.section-charts__title {
  font-family:  variables.$DMSerif;
  font-size: 2.8125rem; /*45rem*/
  color: variables.$darkgrey;
  letter-spacing: 1px;
  text-align: center;
}
.section-charts__icon {
  fill: variables.$darkgreen;
}
.section-charts__chart{
  background-color: variables.$lightblue;
  border: 2px solid rgba(233, 230, 230, 0.781);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.295);
}


// effects
.section-charts__icon:hover {
  fill: variables.$darkgreen;
  animation: gradientColor 1s infinite alternate;

  @keyframes gradientColor {
    0% {
      fill: variables.$darkgreen;
      stroke: none;
    }
    100%{
      fill: variables.$lightgreen;
      stroke: variables.$lightgreen;
    }
  }
}


@media screen and (min-width: 2000px){
  .section-charts__title {
    font-size: 4rem; 
  }
}

@media screen and (max-width: 1250px) {
  .section-charts__chart_hidden {
    display: none;
  }
  .section-charts__chart{
    width: 100%;
    height: 100%;
  }
  .section-charts__wrap-charts {
    grid-template-columns: 1fr;
  }
  .section-charts__wrap {
    margin: 1.5rem 2.3rem 0 2.3rem;
  }
}
@media screen and (max-width: 700px) {
  .section-charts__title {
    font-size: 2rem; 
  }
}

@media screen and (max-width: 600px) {
  .section-charts__wrap {
    margin: 0.5rem;
  }
  .section-charts__wrap-charts {
    margin: 0;
  }
}

@media screen and (max-width: 470px) {
  .section-charts__title {
    font-size: 1.7rem; 
  }
}